.weatherTitle{
    background-color: blue;
    margin: 0px -18px;
    display: block;
    padding-top: 41px;
    padding-bottom: 56px;
    border-bottom: 5px solid black;
}

.searchBar{
    /* display: block;
    margin: 0 auto; */
    margin-left: 38px;
}

.cityTitle{
    padding-left: 32px;
    font-size: 30px;
    padding-top: 18px;
}

.citySelect {
    background-color: brown;
    padding-bottom: 186px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.cityData{
    background-color: blueviolet;
border-bottom: 5px solid black;
}
.currentCity{
    padding-left: 32px;
    font-size: 30px;
    padding-top: 18px;
}

.data{
    padding-left: 32px;
    font-size: 22px;
}