.weatherTitle{
    background-color: #09458f;
    margin: 0px -18px;
    display: block;
    padding-top: 41px;
    padding-bottom: 16px;
    color: #eeeeee;
    font-size: 50px;
    text-shadow: 0px 0px 5px black;
}

.searchBar{
    width: 100%;
    border: none;
    font-size: 20px;
}

.cityTitle{
    padding-left: 27px;
    font-size: 22px;
    padding-top: 18px;
    padding-bottom: 15px;
}

.citySelect {
    background-color:#eeeeee;
   
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    /* color: white; */
}

.cityData{
    background-color: #375c89;
    border-bottom: 5px solid white;
    color: white;
    border-top: 5px solid white;
}
.currentCity{
    font-size: 30px;
    padding-top: 18px;
    padding-left: 25px;
}

.data{
    padding-left: 32px;
    font-size: 22px;
}

.cards{
    background: #157eb9;
    display: block;
    margin: 0 auto;
    border-radius: 0%;
    color: white;
    box-shadow: 0px 0px 6px black;
}

.fiveDay{
    background: #ecf0f1;
    
}

.row {
   
    margin:0 0;
}

.fiveDayForecast{
    padding-bottom: 35px;
}

.cityHistoryBtn{
    margin: 5px 0px;
    width: 100%;
    background: white;
    border: none;
    font-size: 20px;
    box-shadow: 0px 0px 4px rgb(59, 57, 57);
    height: 30px;
}

.submitCity{
    margin: 11px 0px;
    border: none;
    background-color:#09458f;
    color: white;
    padding: 10px 19px;
    border-radius: 5%;
    font-weight: 500;
}

.dateHeader{
    font-size: 32px;
    padding: 14px 0px;

}

.clear {
    border: none;
    background-color: red;
    height: 44px;
    width: 107px;
    border-radius: 8%;
    color: white;
    font-weight: 700;
}

.currentDate{
    display: block;
    margin: 0 auto;
    float: left;
    padding-right: 20px;
    font-weight: bold;
}


@media only screen and (max-width: 600px){

.cards{
    width: 75%;
    margin-top: 14px;
}
}